<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.selfapp.app.mapper.CommentMapper">

    <select id="getComment" parameterType="com.cube.wechat.selfapp.app.domain.Comment" resultType="java.util.Map">
        SELECT
            wrr.title,
            wcr.id,
            u.nick_name nickName,
            wcr.user_id userId,
            wcr.`comment`,
            wcr.create_time createTime,
            wcr.userlike,
            wcr.flow_status flowStatus
        FROM
            wc_comment_res wcr
                LEFT JOIN wc_research_report wrr ON wcr.res_id = wrr.id
                left join sys_user u on wcr.user_id = u.user_id
        where wrr.isdel = 0
        <if test="keyWord !=null and keyWord !=''">
            and (wrr.title like '%${keyWord}%' or wcr.`comment` like '%${keyWord}%')
        </if>
        <if test="flowStatus !=null">
            and wcr.flow_status = #{flowStatus}
        </if>
  order by wcr.flow_status
    </select>

    <update id="updateComment" parameterType="com.cube.wechat.selfapp.app.domain.Comment">
        update wc_comment_res set flow_status =#{flowStatus} where id =#{id}
    </update>
</mapper>
