<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.selfapp.datazone.mapper.DataZoneMapper">

    <select id="getBotKey" parameterType="com.cube.wechat.selfapp.app.domain.Comment" resultType="java.util.Map">

    </select>
</mapper>
