<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.selfapp.app.mapper.MessageMapper">

    <select id="getMsgData" resultType="java.util.Map">
        select * from (     SELECT
                                msgid,
                                msgfrom,
                                zc_msgid zcMsgid,
                                secret_key secretKey,
                                CASE
                                    WHEN LENGTH(text) = 4 AND text REGEXP '^[0-9]+$' THEN wrr.title
                                    ELSE msg.text
                                    END AS title
                            FROM
                                message_ww722362817b3c466a msg  left join wc_research_report wrr on wrr.keyword = msg.text
                            WHERE
                                    msgfrom NOT IN ( 'woypNhRQAAkh5rzs0xABFQjCkgObFGiw', 'DuRuiNing','woypNhRQAAU8zm7-qpp5-j9HIEygbIuA' )
                              AND is_tag IS NULL
                              AND msgtype = 'text'
                              And text !='【未知消息类型】'
                      ) res where res.title is not null  group by res.title
    </select>
    <select id="getGroupIds" resultType="java.util.Map">
        select group_id from wc_tag_group
    </select>

    <update id="updateMsg" parameterType="java.lang.String">
        update message_ww722362817b3c466a set zc_msgid =#{msgId},secret_key =#{secretKey} where msgtime like '%${sendTime}%' and msgfrom = #{formId}
    </update>

    <update id="updateMsgTag" parameterType="java.util.Map">
        update message_ww722362817b3c466a set
                is_tag =1,tag =#{tag} where msgid =#{msgid}
    </update>

    <select id="getUserTag" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from wc_user_tag where user_id =#{userId} and tag = #{tag}
    </select>

    <insert id="saveUserTag" parameterType="java.lang.String">
        insert into wc_user_tag values(uuid(),#{userId},#{tag})
    </insert>
</mapper>
