<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmCompanyInfoFieldConfigMapper">
    <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmCompanyInfoFieldConfig">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="info_name" jdbcType="VARCHAR" property="infoName"/>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="control_type" jdbcType="VARCHAR" property="controlType"/>
        <result column="control_name" jdbcType="VARCHAR" property="controlName"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_top" jdbcType="INTEGER" property="isTop"/>
        <result column="is_there_multiple" jdbcType="INTEGER" property="isThereMultiple"/>
        <result column="is_recorded" jdbcType="INTEGER" property="isRecorded"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="is_status" jdbcType="INTEGER" property="isStatus"/>
        <result column="is_default" jdbcType="INTEGER" property="isDefault"/>
        <result column="select_value" jdbcType="LONGNVARCHAR" property="selectValue"/>
        <result column="is_reminder" jdbcType="INTEGER" property="isReminder"/>
        <result column="reminder_time" jdbcType="VARCHAR" property="reminderTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_Repetition" jdbcType="INTEGER" property="isRepetition"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , info_name, corp_id, app_id, control_type, control_name, sort ,is_delete,is_recorded,is_top,is_there_multiple,
        is_status,is_default,select_value,is_reminder,reminder_time,create_time,update_time,is_Repetition
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rm_company_info_field_config
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByInfoNameAndCorpId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company_info_field_config
        where info_name = #{infoName,jdbcType=VARCHAR}
        AND corp_id = #{corpId,jdbcType=VARCHAR}
        AND is_delete = 0
    </select>
    <select id="selectPhoneInfoByControName" parameterType="java.lang.String"  resultType="java.lang.String">
        SELECT
        id
        FROM
        rm_company_info_field_config
        WHERE
        control_name = #{controlName}
        AND corp_id = #{corpId}
        AND is_delete=0
        LIMIT 1
    </select>
    <select id="selectByCorpId" resultType="com.cube.wechat.thirdapp.entiy.RmExternalInfoFieldConfig" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rm_company_info_field_config
        WHERE
        is_delete = 0
        AND corp_id = #{corpId,jdbcType=VARCHAR}
        ORDER BY
        sort ASC
    </select>
    <select id="selectExternalInfoFileConfigByCorpId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rm_company_info_field_config
        WHERE
        is_delete = 0
        AND is_status = 1
        AND corp_id=#{corpId}
        ORDER BY
        sort ASC
    </select>
    <select id="selectIsUserFileConfigByCorpId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        rm_company_info_field_config
        WHERE
        is_delete = 0
        AND is_status = 1
        AND corp_id=#{corpId}
        ORDER BY
        sort ASC
    </select>
    <select id="selectCorpExternalInfoFieldConfigCount" resultType="java.lang.Integer">
        SELECT
        MAX(sort)
        FROM
        rm_company_info_field_config
        WHERE
        corp_id = #{corpId}
        AND is_delete = 0
    </select>
    <select id="selectDateControlByCorpId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rm_company_info_field_config
        WHERE
        is_delete = 0
        AND control_type = '日期'
        AND corp_id = #{corpId,jdbcType=VARCHAR}
        AND is_status = 1
        AND is_reminder = 1
        AND reminder_time IS NOT NULL
    </select>
    <select id="selectInfoNameAndShortNameByCorpId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rm_company_info_field_config
        WHERE
        is_delete = 0
        AND corp_id = #{corpId,jdbcType=VARCHAR}
        AND is_status = 1
        AND is_default = 1
        AND is_repetition = 1
    </select>
    <select id="selectComPanyInfoByCorpId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rm_company_info_field_config
        WHERE
        is_delete = 0
        AND is_status = 1
        AND corp_id = #{corpId,jdbcType=VARCHAR}
        ORDER BY
        sort ASC
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from rm_company_info_field_config
        where id = #{id,jdbcType=VARCHAR}
    </delete>


    <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalInfoFieldConfig">
        insert into rm_company_info_field_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="infoName != null">
                info_name,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="controlType != null">
                control_type,
            </if>
            <if test="controlName != null">
                control_name,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="isStatus != null">
                is_status,
            </if>
            <if test="isDefault != null">
                is_default,
            </if>
            <if test="selectValue != null">
                select_value,
            </if>
            <if test="isReminder != null">
                is_reminder,
            </if>
            <if test="reminderTime != null">
                reminder_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isThereMultiple != null">
                is_there_multiple,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="infoName != null">
                #{infoName,jdbcType=VARCHAR},
            </if>
            <if test="corpId != null">
                #{corpId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="controlType != null">
                #{controlType,jdbcType=VARCHAR},
            </if>
            <if test="controlName != null">
                #{controlName,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="isStatus != null">
                #{isStatus,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=INTEGER},
            </if>
            <if test="selectValue != null">
                #{selectValue,jdbcType=LONGVARCHAR},
            </if>
            <if test="isReminder != null">
                #{isReminder,jdbcType=INTEGER},
            </if>
            <if test="reminderTime != null">
                #{reminderTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isThereMultiple != null">
                #{isThereMultiple,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalInfoFieldConfig">
        update rm_company_info_field_config
        <set>
            <if test="infoName != null">
                info_name = #{infoName,jdbcType=VARCHAR},
            </if>
            <if test="corpId != null">
                corp_id = #{corpId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="controlType != null">
                control_type = #{controlType,jdbcType=VARCHAR},
            </if>
            <if test="controlName != null">
                control_name = #{controlName,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="isStatus != null">
                is_status = #{isStatus,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault,jdbcType=INTEGER},
            </if>
            <if test="selectValue != null">
                select_value = #{selectValue,jdbcType=LONGVARCHAR},
            </if>
            <if test="isReminder != null">
                is_reminder = #{isReminder,jdbcType=INTEGER},
            </if>
            <if test="reminderTime != null">
                reminder_time = #{reminderTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isThereMultiple!=null">
                is_There_Multiple=#{isThereMultiple},
            </if>
            <if test="isThereMultiple != null">
                is_there_multiple = #{isThereMultiple,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <insert id="initCorpExternalInfoFieldConfig" parameterType="java.lang.String">
        INSERT INTO `rm_company_info_field_config` (
        `id`,
        `info_name`,
        `corp_id`,
        `app_id`,
        `control_type`,
        `control_name`,
        `sort`,
        `is_delete`,
        `is_status`,
        `is_default`,
        `select_value`,
        `is_top`,
        `is_There_Multiple`,
        `is_reminder`,
        `is_recorded`,
        `reminder_time`,
        `create_time`,
        `update_time`,
        `is_repetition`)
        SELECT
        UUID(),
        `info_name`,
        #{corpId},
        `app_id`,
        `control_type`,
        `control_name`,
        `sort`,
        `is_delete`,
        `is_status`,
        `is_default`,
        `select_value`,
        `is_top`,
        `is_There_Multiple`,
        `is_reminder`,
        `is_recorded`,
        `reminder_time`,
        NOW(),
        NOW(),
        `is_repetition`
        FROM rm_company_info_field_config
        WHERE corp_Id='-1'
        AND  is_delete = 0
    </insert>



</mapper>
