<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmCompanyMapper">
    <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmCompany">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"/>
        <result column="company_short_name" jdbcType="VARCHAR" property="companyShortName"/>
        <result column="company_full_name" jdbcType="VARCHAR" property="companyFullName"/>
        <result column="company_logo" jdbcType="VARCHAR" property="companyLogo"/>
        <result column="credit_code" jdbcType="VARCHAR" property="creditCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,corp_id,company_full_name,company_short_name,company_logo,credit_code,create_time,create_by,update_time,update_by
    </sql>

    <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompany">
        INSERT INTO rm_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="corpId != null">corp_id,</if>
            <if test="companyFullName != null">company_full_name,</if>
            <if test="companyShortName != null">company_short_name,</if>
            <if test="companyLogo != null">company_logo,</if>
            <if test="creditCode != null">credit_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="corpId != null">#{corpId,jdbcType=VARCHAR},</if>
            <if test="companyFullName != null">#{companyFullName,jdbcType=VARCHAR},</if>
            <if test="companyShortName != null">#{companyShortName,jdbcType=VARCHAR},</if>
            <if test="companyLogo != null">#{companyLogo,jdbcType=VARCHAR},</if>
            <if test="creditCode != null">#{creditCode,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <insert id="saveBatch">
        INSERT INTO rm_company (id, company_full_name, company_short_name, create_by, create_time, corp_id)
        VALUES
        <foreach collection="companies" item="company" separator=",">
            (#{company.id}, #{company.companyFullName}, #{company.companyShortName}, #{company.createBy},
            #{company.createTime}, #{company.corpId})
        </foreach>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompany">
        UPDATE rm_company
        <set>
            <if test="companyFullName != null">company_full_name = #{companyFullName,jdbcType=VARCHAR},</if>
            <if test="companyShortName != null">company_short_name = #{companyShortName,jdbcType=VARCHAR},</if>
            <if test="companyLogo != null">company_logo = #{companyLogo,jdbcType=VARCHAR},</if>
            <if test="creditCode != null">credit_code = #{creditCode,jdbcType=VARCHAR},</if>
            <if test="corpId != null">corp_id = #{corpId,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null">create_by = #{createBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">update_by = #{updateBy,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from rm_company
        where id = #{id,jdbcType=VARCHAR}
    </delete>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAllByCorpId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company
        where corp_id = #{corpId,jdbcType=VARCHAR}
    </select>


    <select id="selectByFullName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company
        where
        corp_id = #{corpId,jdbcType=VARCHAR}
        <if test="companyFullName!=null and companyFullName!=''">
            AND company_full_name= #{companyFullName,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="selectByShortName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company
        where
        company_short_name= #{companyShortName,jdbcType=VARCHAR}
        and corp_id = #{corpId,jdbcType=VARCHAR}
    </select>
    <select id="selectLikeName" resultType="java.lang.String">
        SELECT
            id
        FROM
            `rm_company`
        WHERE
            (company_full_name LIKE CONCAT('%', #{name}, '%')
                OR company_short_name LIKE CONCAT('%', #{name}, '%'))
          AND corp_id = #{corpId}
    </select>
    <select id="selectAllCompanyIdsByCorpId" resultType="java.lang.String">
        select
        id
        from rm_company
        where corp_id = #{corpId,jdbcType=VARCHAR}
    </select>
    <select id="selectCompanyExxternalInfoByCorpId" resultType="java.util.Map">
        SELECT
            rc.id AS company_id,
            rc.company_full_name,
            rc.company_short_name,
            COUNT(DISTINCT rsn.external_user_id) AS external_user_count
        FROM
            rm_company rc
                LEFT JOIN rm_company_external rce ON rc.id = rce.company_id
                LEFT JOIN rm_external_statistics_num rsn ON rce.external_user_id = rsn.external_user_id AND rce.user_id = rsn.user_id AND rsn.is_lost = 0
        WHERE
            rc.corp_id = #{corpId,jdbcType=VARCHAR}
        GROUP BY
            rc.id
        ORDER BY
            external_user_count DESC;
    </select>
    <select id="selectCompanyTagInfoByCompanyId" resultType="java.util.Map">
        SELECT
            rclg.group_name,
            rcl.label_name,
            rcl.id AS label_id,
            rclg.id AS group_id,
            COUNT(DISTINCT rclr.company_id) AS company_count
        FROM
            rm_company_label_relation rclr
                JOIN rm_company_label rcl ON rclr.label_id = rcl.id
                JOIN rm_company_label_group rclg ON rclr.group_id = rclg.id
                JOIN rm_company rc ON rclr.company_id = rc.id
        WHERE
            rcl.is_delete = 0
          AND rclg.is_delete = 0
          AND rc.corp_id = #{corpId,jdbcType=VARCHAR}
        GROUP BY
            rclr.label_id, rclr.group_id
        ORDER BY
        company_count DESC
        LIMIT #{limit,jdbcType=INTEGER};
    </select>


    <!--    <select id="selectByFullNameAndCompanyId" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from rm_company-->
<!--        where-->
<!--        company_full_name= #{companyFullName,jdbcType=VARCHAR}-->
<!--        and id = #{companyId,jdbcType=VARCHAR}-->
<!--        and corp_id = #{corpId,jdbcType=VARCHAR}-->
<!--    </select>-->
<!--    <select id="selectByShortNameAndCompanyId" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from rm_company-->
<!--        where-->
<!--        company_short_name= #{companyShortName,jdbcType=VARCHAR}-->
<!--        id= #{companyId,jdbcType=VARCHAR}-->
<!--        and corp_id = #{corpId,jdbcType=VARCHAR}-->
<!--    </select>-->


</mapper>
