<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmCompanyExternalMapper">
    <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmCompanyExternal">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="external_user_id" jdbcType="VARCHAR" property="externalUserId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,company_id,external_user_id,user_id,corp_id,type,create_by,create_time
    </sql>

    <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyExternal">
        INSERT INTO rm_company_external
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="corpId != null">corp_id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="externalUserId != null">external_user_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="corpId != null">#{corpId,jdbcType=VARCHAR},</if>
            <if test="companyId != null">#{companyId,jdbcType=VARCHAR},</if>
            <if test="externalUserId != null">#{externalUserId,jdbcType=VARCHAR},</if>
            <if test="userId != null">#{userId,jdbcType=VARCHAR},</if>
            <if test="type != null">#{type,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyExternal">
        UPDATE rm_company_external
        <set>
            <if test="corpId != null">corp_id = #{corpId,jdbcType=VARCHAR},</if>
            <if test="companyId != null">company_id = #{companyId,jdbcType=VARCHAR},</if>
            <if test="externalUserId != null">external_user_id = #{externalUserId,jdbcType=VARCHAR},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=VARCHAR},</if>
            <if test="type != null">type = #{type,jdbcType=INTEGER},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null">create_by = #{createBy,jdbcType=VARCHAR},</if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByCorpIdAndCompanyIdAndUserIdAndExternalUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company_external
        where user_id = #{userId}
        and external_user_id = #{externalUserId}
        and company_id = #{companyId}
        and corp_id = #{corpId}
    </select>


</mapper>
