<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmCompanyLabelGroupMapper">
    <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmCompanyLabelGroup">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id , group_name, create_time,create_by, is_delete, corp_id
    </sql>

    <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyLabelGroup">
        insert into rm_company_label_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="corpId != null">
                #{corpId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectLabelGroupByGroupName" resultMap="BaseResultMap">
        SELECT *
        FROM rm_company_label_group
        where group_name = #{groupName}
        and corp_id = #{corpId}
        and is_delete = 0
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company_label_group
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectLabelGroupByCorpId" resultMap="BaseResultMap">
        SELECT *
        FROM rm_company_label_group
        where corp_id = #{corpId}
          and is_delete = 0
        order by create_time DESC, group_name
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyLabelGroup">
        update rm_company_label_group
        <set>
            <if test="groupName != null">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>

            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by= #{createBy},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="corpId != null">
                corp_id = #{corpId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
