<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmCompanyManageMapper">
  <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmCompanyManage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="range_id" jdbcType="VARCHAR" property="rangeId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="unique_id" jdbcType="VARCHAR" property="uniqueId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, range_id,parent_id, data_type, corp_id,unique_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_company_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="selectByCompanyIdAndCropId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_company_manage
    where company_id = #{companyId,jdbcType=VARCHAR}
    AND corp_id = #{corpId,jdbcType=VARCHAR}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rm_company_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByCompanyIdAndCorpId" parameterType="java.lang.String">
    DELETE FROM rm_company_manage
    WHERE company_id = #{companyId} AND corp_id = #{corpId}
  </delete>


  <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyManage">
    insert into rm_company_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="rangeId != null">
        range_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="uniqueId != null">
        unique_id,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="rangeId != null">
        #{rangeId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="uniqueId != null">
        #{uniqueId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="saveBatch">
    INSERT INTO rm_company_manage (id, company_id, range_id, parent_id, data_type, corp_id, unique_id)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (
      #{item.id,jdbcType=VARCHAR},
      #{item.companyId,jdbcType=VARCHAR},
      #{item.rangeId,jdbcType=VARCHAR},
      #{item.parentId,jdbcType=VARCHAR},
      #{item.dataType,jdbcType=INTEGER},
      #{item.corpId,jdbcType=VARCHAR},
      #{item.uniqueId,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyManage">
    update rm_company_manage
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="rangeId != null">
        range_id = #{rangeId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="uniqueId != null">
        unique_id = #{uniqueId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>
