<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmCompanyLabelRelationMapper">
    <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmCompanyLabelRelation">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="label_id" jdbcType="VARCHAR" property="labelId"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,company_id, label_id,group_id,corp_id,create_time
    </sql>

    <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyLabelRelation">
        INSERT INTO rm_company_label_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="labelId != null">
                label_id,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="labelId != null">
                #{labelId,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="corpId != null">
                #{corpId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="saveBatch">
        INSERT INTO rm_company_label_relation (id, company_id, label_id, group_id, corp_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.companyId,jdbcType=VARCHAR},
            #{item.labelId,jdbcType=VARCHAR},
            #{item.groupId,jdbcType=VARCHAR},
            #{item.corpId,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <delete id="deleteCompanyLabelRelation" parameterType="java.lang.String">
        DELETE FROM rm_company_label_relation WHERE company_id=#{companyId}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmCompanyLabelRelation">
        UPDATE rm_company_label_relation
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="labelId != null">
                label_id = #{labelId,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="corpId != null">
                corp_id = #{corpId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_company_label_relation
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByCompanyIdAndCorpId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rm_company_label_relation
        WHERE
        company_id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND corp_id = #{corpId}
    </select>
    <select id="selectCompanyIdsByLabelIds" resultType="java.lang.String">
        SELECT
        DISTINCT(company_id)
        FROM
        rm_company_label_relation
        WHERE
        label_id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND corp_id = #{corpId}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from rm_company_label_relation
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByCompanyIdAndCorpId" parameterType="java.lang.String">
        DELETE FROM rm_company_label_relation
        WHERE company_id = #{companyId} AND corp_id = #{corpId}
    </delete>
    <delete id="deleteByGroupIdAndCorpId">
        delete
        from rm_company_label_relation
        where group_id = #{groupId,jdbcType=VARCHAR}
        and corp_id= #{corpId,jdbcType=VARCHAR}

    </delete>

    <delete id="deleteByLabelIdAndCorpId">
        delete
        from rm_company_label_relation
        where label_id = #{labelId,jdbcType=VARCHAR}
          and corp_id= #{corpId,jdbcType=VARCHAR}
    </delete>

</mapper>
