<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmExternalInfoArchivesHistoryMapper">
  <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmExternalInfoArchivesHistory">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="info_id" jdbcType="VARCHAR" property="infoId" />
    <result column="info_value" jdbcType="VARCHAR" property="infoValue" />
    <result column="external_user_id" jdbcType="VARCHAR" property="externalUserId" />
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info_id, info_value,source_type, external_user_id, corp_id, `date`, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_external_info_archives_history
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rm_external_info_archives_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalInfoArchivesHistory">
    insert into rm_external_info_archives_history (id, info_id, info_value,
      external_user_id, corp_id, `date`,
      user_id)
    values (#{id,jdbcType=VARCHAR}, #{infoId,jdbcType=VARCHAR}, #{infoValue,jdbcType=VARCHAR},
      #{externalUserId,jdbcType=VARCHAR}, #{corpId,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP},
      #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalInfoArchivesHistory">
    insert into rm_external_info_archives_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="infoId != null">
        info_id,
      </if>
      <if test="sourceType != null">
       source_type,
      </if>
      <if test="infoValue != null">
        info_value,
      </if>
      <if test="externalUserId != null">
        external_user_id,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="infoId != null">
        #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType},
      </if>
      <if test="infoValue != null">
        #{infoValue,jdbcType=VARCHAR},
      </if>
      <if test="externalUserId != null">
        #{externalUserId,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalInfoArchivesHistory">
    update rm_external_info_archives_history
    <set>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="infoValue != null">
        info_value = #{infoValue,jdbcType=VARCHAR},
      </if>
      <if test="externalUserId != null">
        external_user_id = #{externalUserId,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalInfoArchivesHistory">
    update rm_external_info_archives_history
    set info_id = #{infoId,jdbcType=VARCHAR},
      info_value = #{infoValue,jdbcType=VARCHAR},
      external_user_id = #{externalUserId,jdbcType=VARCHAR},
      corp_id = #{corpId,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectArchivesHistoryByArchivesHistory" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalInfoArchivesHistory" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_external_info_archives_history
    <where>
      <if test="id != null and id != ''">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="infoId != null and infoId != ''">
        and info_id = #{infoId,jdbcType=VARCHAR}
      </if>
      <if test="infoValue != null and infoValue != ''">
        and info_value = #{infoValue,jdbcType=VARCHAR}
      </if>
      <if test="externalUserId != null and externalUserId != ''">
        and external_user_id = #{externalUserId,jdbcType=VARCHAR}
      </if>
      <if test="corpId != null and corpId != ''">
        and corp_id = #{corpId,jdbcType=VARCHAR}
      </if>
      <if test="date != null">
        and date = #{date,jdbcType=TIMESTAMP}
      </if>
      <if test="userId != null and userId != ''">
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <!-- 继续添加其他字段的判断条件 -->
    </where>
    ORDER BY   `date` desc
  </select>
</mapper>
