<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.RmExternalGroupChatMemberMapper">
  <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.RmExternalGroupChatMember">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="chat_id" jdbcType="VARCHAR" property="chatId" />
    <result column="system_chat_id" jdbcType="VARCHAR" property="systemChatId" />
    <result column="chat_name" jdbcType="VARCHAR" property="chatName" />
    <result column="chat_group_leader_id" jdbcType="VARCHAR" property="chatGroupLeaderId" />
    <result column="member_user_id" jdbcType="VARCHAR" property="memberUserId" />
    <result column="member_type" jdbcType="INTEGER" property="memberType" />
    <result column="member_unionid" jdbcType="VARCHAR" property="memberUnionid" />
    <result column="member_join_time" jdbcType="TIMESTAMP" property="memberJoinTime" />
    <result column="member_quit_time" jdbcType="TIMESTAMP" property="memberQuitTime" />
    <result column="member_join_scene" jdbcType="INTEGER" property="memberJoinScene" />
    <result column="member_quit_scene" jdbcType="INTEGER" property="memberQuitScene" />
    <result column="member_invitor_user_id" jdbcType="VARCHAR" property="memberInvitorUserId" />
    <result column="member_group_nickname" jdbcType="VARCHAR" property="memberGroupNickname" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="member_version" jdbcType="VARCHAR" property="memberVersion" />
    <result column="member_identity" jdbcType="INTEGER" property="memberIdentity" />
    <result column="member_status" jdbcType="INTEGER" property="memberStatus" />
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, chat_id, system_chat_id, chat_name, chat_group_leader_id, member_user_id, member_type,
    member_unionid, member_join_time,member_quit_time, member_join_scene, member_quit_scene,`member_invitor_user_id`, member_group_nickname,
    member_name, member_version, member_identity, corp_id, create_time, update_time,member_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_external_group_chat_member
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectChatMemberByMemberUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_external_group_chat_member
    where chat_id = #{chatId}
    and member_user_id=#{memberUserId}
    limit 1
  </select>
  <select id="selectChatAllMemberByChatId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_external_group_chat_member
    where chat_id = #{chatId}
    and corp_id=#{corpId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rm_external_group_chat_member
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteGroupChatMemberByUserId" parameterType="java.lang.String">
    DELETE FROM rm_external_group_chat_member WHERE chat_group_leader_id=#{userId}
  </delete>
  <delete id="deleteGroupChatNemberByChatId" parameterType="java.lang.String">
    DELETE FROM rm_external_group_chat_member WHERE chat_id=#{chatId}
  </delete>
  <delete id="updateGroupChatMemberStatusByChatId" parameterType="java.lang.String">
    UPDATE  rm_external_group_chat_member SET member_status=#{memberStatus} WHERE   chat_id=#{chatId}
  </delete>
  <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalGroupChatMember">
    insert into rm_external_group_chat_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chatId != null">
        chat_id,
      </if>
      <if test="systemChatId != null">
        system_chat_id,
      </if>
      <if test="chatName != null">
        chat_name,
      </if>
      <if test="chatGroupLeaderId != null">
        chat_group_leader_id,
      </if>
      <if test="memberUserId != null">
        member_user_id,
      </if>
      <if test="memberType != null">
        member_type,
      </if>
      <if test="memberUnionid != null">
        member_unionid,
      </if>
      <if test="memberJoinTime != null">
        member_join_time,
      </if>
      <if test="memberQuitTime != null">
        member_quit_time,
      </if>
      <if test="memberJoinScene != null">
        member_join_scene,
      </if>
      <if test="memberQuitScene != null">
        member_quit_scene,
      </if>
      <if test="memberInvitorUserId != null">
        member_invitor_user_id,
      </if>
      <if test="memberGroupNickname != null">
        member_group_nickname,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="memberVersion != null">
        member_version,
      </if>
      <if test="memberIdentity != null">
        member_identity,
      </if>
      <if test="memberStatus != null">
        member_status,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="chatId != null">
        #{chatId,jdbcType=VARCHAR},
      </if>
      <if test="systemChatId != null">
        #{systemChatId,jdbcType=VARCHAR},
      </if>
      <if test="chatName != null">
        #{chatName,jdbcType=VARCHAR},
      </if>
      <if test="chatGroupLeaderId != null">
        #{chatGroupLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="memberUserId != null">
        #{memberUserId,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberUnionid != null">
        #{memberUnionid,jdbcType=VARCHAR},
      </if>
      <if test="memberJoinTime != null">
        #{memberJoinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberQuitTime != null">
        #{memberQuitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberJoinScene != null">
        #{memberJoinScene,jdbcType=INTEGER},
      </if>
      <if test="memberQuitScene != null">
        #{memberQuitScene,jdbcType=INTEGER},
      </if>
      <if test="memberInvitorUserId != null">
        #{memberInvitorUserId,jdbcType=VARCHAR},
      </if>
      <if test="memberGroupNickname != null">
        #{memberGroupNickname,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberVersion != null">
        #{memberVersion,jdbcType=VARCHAR},
      </if>
      <if test="memberIdentity != null">
        #{memberIdentity,jdbcType=INTEGER},
      </if>
      <if test="memberStatus != null">
        #{memberStatus,jdbcType=INTEGER},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    INSERT INTO rm_external_group_chat_member
    (id, chat_id, system_chat_id, chat_name, chat_group_leader_id, member_user_id, member_type, member_unionid,
    member_join_time, member_join_scene, member_invitor_user_id, member_group_nickname, member_name,
    member_version, member_identity, corp_id, create_time, update_time,member_status)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (
      #{item.id,jdbcType=VARCHAR},
      #{item.chatId,jdbcType=VARCHAR},
      #{item.systemChatId,jdbcType=VARCHAR},
      #{item.chatName,jdbcType=VARCHAR},
      #{item.chatGroupLeaderId,jdbcType=VARCHAR},
      #{item.memberUserId,jdbcType=VARCHAR},
      #{item.memberType,jdbcType=INTEGER},
      #{item.memberUnionid,jdbcType=VARCHAR},
      #{item.memberJoinTime,jdbcType=TIMESTAMP},
      #{item.memberJoinScene,jdbcType=INTEGER},
      #{item.memberInvitorUserId,jdbcType=VARCHAR},
      #{item.memberGroupNickname,jdbcType=VARCHAR},
      #{item.memberName,jdbcType=VARCHAR},
      #{item.memberVersion,jdbcType=VARCHAR},
      #{item.memberIdentity,jdbcType=INTEGER},
      #{item.corpId,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateTime,jdbcType=TIMESTAMP},
      #{item.memberStatus,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalGroupChatMember">
    update rm_external_group_chat_member
    <set>
      <if test="chatId != null">
        chat_id = #{chatId,jdbcType=VARCHAR},
      </if>
      <if test="systemChatId != null">
        system_chat_id = #{systemChatId,jdbcType=VARCHAR},
      </if>
      <if test="chatName != null">
        chat_name = #{chatName,jdbcType=VARCHAR},
      </if>
      <if test="chatGroupLeaderId != null">
        chat_group_leader_id = #{chatGroupLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="memberUserId != null">
        member_user_id = #{memberUserId,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        member_type = #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberUnionid != null">
        member_unionid = #{memberUnionid,jdbcType=VARCHAR},
      </if>
      <if test="memberJoinTime != null">
        member_join_time = #{memberJoinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberQuitTime != null">
        member_Quit_Time = #{memberQuitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberJoinScene != null">
        member_join_scene = #{memberJoinScene,jdbcType=INTEGER},
      </if>
      <if test="memberQuitScene != null">
        member_quit_scene = #{memberQuitScene,jdbcType=INTEGER},
      </if>
      <if test="memberInvitorUserId != null">
        `member_invitor_user_id` = #{memberInvitorUserId,jdbcType=VARCHAR},
      </if>
      <if test="memberGroupNickname != null">
        member_group_nickname = #{memberGroupNickname,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberVersion != null">
        member_version = #{memberVersion,jdbcType=VARCHAR},
      </if>
      <if test="memberIdentity != null">
        member_identity = #{memberIdentity,jdbcType=INTEGER},
      </if>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberStatus != null">
        member_status = #{memberStatus},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByMemberUserId" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalGroupChatMember">
    update rm_external_group_chat_member
    <set>
      <if test="systemChatId != null">
        system_chat_id = #{systemChatId,jdbcType=VARCHAR},
      </if>
      <if test="chatName != null">
        chat_name = #{chatName,jdbcType=VARCHAR},
      </if>
      <if test="chatGroupLeaderId != null">
        chat_group_leader_id = #{chatGroupLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        member_type = #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberUnionid != null">
        member_unionid = #{memberUnionid,jdbcType=VARCHAR},
      </if>
      <if test="memberJoinTime != null">
        member_join_time = #{memberJoinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberQuitTime != null">
        member_Quit_Time = #{memberQuitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberJoinScene != null">
        member_join_scene = #{memberJoinScene,jdbcType=INTEGER},
      </if>
      <if test="memberQuitScene != null">
        member_quit_scene = #{memberQuitScene,jdbcType=INTEGER},
      </if>
      <if test="memberInvitorUserId != null">
        `member_invitor_user_id` = #{memberInvitorUserId,jdbcType=VARCHAR},
      </if>
      <if test="memberGroupNickname != null">
        member_group_nickname = #{memberGroupNickname,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberVersion != null">
        member_version = #{memberVersion,jdbcType=VARCHAR},
      </if>
      <if test="memberIdentity != null">
        member_identity = #{memberIdentity,jdbcType=INTEGER},
      </if>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberStatus != null">
        member_status = #{memberStatus},
      </if>
    </set>
    where chat_id = #{chatId}
    and corp_id=#{corpId}
    and member_user_id=#{memberUserId}
  </update>

  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator=";">
      update rm_external_group_chat_member
      <set>
        <if test="item.chatId != null">
          chat_id = #{item.chatId,jdbcType=VARCHAR},
        </if>
        <if test="item.systemChatId != null">
          system_chat_id = #{item.systemChatId,jdbcType=VARCHAR},
        </if>
        <if test="item.chatName != null">
          chat_name = #{item.chatName,jdbcType=VARCHAR},
        </if>
        <if test="item.chatGroupLeaderId != null">
          chat_group_leader_id = #{item.chatGroupLeaderId,jdbcType=VARCHAR},
        </if>
        <if test="item.memberUserId != null">
          member_user_id = #{item.memberUserId,jdbcType=VARCHAR},
        </if>
        <if test="item.memberType != null">
          member_type = #{item.memberType,jdbcType=INTEGER},
        </if>
        <if test="item.memberUnionid != null">
          member_unionid = #{item.memberUnionid,jdbcType=VARCHAR},
        </if>
        <if test="item.memberJoinTime != null">
          member_join_time = #{item.memberJoinTime,jdbcType=TIMESTAMP},
        </if>
          member_Quit_Time =NULL,
        <if test="item.memberJoinScene != null">
          member_join_scene = #{item.memberJoinScene,jdbcType=INTEGER},
        </if>
          member_quit_scene =NULL,
        <if test="item.memberInvitorUserId != null">
          `member_invitor_user_id` = #{item.memberInvitorUserId,jdbcType=VARCHAR},
        </if>
        <if test="item.memberGroupNickname != null">
          member_group_nickname = #{item.memberGroupNickname,jdbcType=VARCHAR},
        </if>
        <if test="item.memberName != null">
          member_name = #{item.memberName,jdbcType=VARCHAR},
        </if>
        <if test="item.memberVersion != null">
          member_version = #{item.memberVersion,jdbcType=VARCHAR},
        </if>
        <if test="item.memberIdentity != null">
          member_identity = #{item.memberIdentity,jdbcType=INTEGER},
        </if>
        <if test="item.corpId != null">
          corp_id = #{item.corpId,jdbcType=VARCHAR},
        </if>
        <if test="item.createTime != null">
          create_time = #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateTime != null">
          update_time = #{item.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.memberStatus != null">
          member_status = #{item.memberStatus},
        </if>
      </set>
      where id = #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>

  <update id="updateByRmExternalGroupChatMember" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalGroupChatMember">
    update rm_external_group_chat_member
    <set>
      <if test="systemChatId != null">
        system_chat_id = #{systemChatId,jdbcType=VARCHAR},
      </if>
      <if test="chatName != null">
        chat_name = #{chatName,jdbcType=VARCHAR},
      </if>
      <if test="chatGroupLeaderId != null">
        chat_group_leader_id = #{chatGroupLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="memberUserId != null">
        member_user_id = #{memberUserId,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null">
        member_type = #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberUnionid != null">
        member_unionid = #{memberUnionid,jdbcType=VARCHAR},
      </if>
      <if test="memberJoinTime != null">
        member_join_time = #{memberJoinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberQuitTime != null">
        member_Quit_Time = #{memberQuitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberJoinScene != null">
        member_join_scene = #{memberJoinScene,jdbcType=INTEGER},
      </if>
      <if test="memberQuitScene != null">
        member_quit_scene = #{memberQuitScene,jdbcType=INTEGER},
      </if>
      <if test="memberInvitorUserId != null">
        `member_invitor_user_id` = #{memberInvitorUserId,jdbcType=VARCHAR},
      </if>
      <if test="memberGroupNickname != null">
        member_group_nickname = #{memberGroupNickname,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberVersion != null">
        member_version = #{memberVersion,jdbcType=VARCHAR},
      </if>
      <if test="memberIdentity != null">
        member_identity = #{memberIdentity,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberStatus != null">
        member_status = #{memberStatus},
      </if>
    </set>
    where chat_id = #{chatId}
    and corp_id=#{corpId}
  </update>
  <update id="clearGroupChatLeaderByChatId" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalGroupChatMember">
    UPDATE rm_external_group_chat_member SET member_identity=1 WHERE member_identity=3 and chat_id=#{chatId} and corp_id=#{corpId}
  </update>
  <update id="addGroupChatLeaderByChatIdAndUserId" parameterType="com.cube.wechat.thirdapp.entiy.RmExternalGroupChatMember">
    UPDATE rm_external_group_chat_member SET member_identity=#{memberIdentity} WHERE chat_id=#{chatId} and corp_id=#{corpId} and member_user_id=#{memberUserId}

  </update>
  <select id="selectGropChatMemberByChatId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT regc.chat_name as chatName,
      regc.chat_id as chatId,
      DATE_FORMAT(regc.chat_create_time, '%Y-%m-%d') AS chatCreatetime,
      DATE_FORMAT(regcm.member_join_time, '%Y-%m-%d') AS memberJoinTime,
      rei.corp_name,
      regc.corp_id,
      regcm.member_user_id,
      rei.corp_full_name,
      rei.external_user_id,
      rei.user_id,
      rei.avatar as thumbAvatar,
      CASE regcm.member_type
      WHEN 1 THEN
      3
      ELSE
      rei.type
      END as member_type,
      regcm.member_group_nickname,
      regcm.member_name
      FROM rm_external_group_chat regc
      LEFT JOIN rm_external_group_chat_member regcm on regcm.chat_id = regc.chat_id and regcm.corp_id=regc.corp_id
      LEFT JOIN ( SELECT *, ROW_NUMBER() OVER ( PARTITION BY external_user_id ORDER BY create_time DESC ) AS rn FROM
      rm_external_info
     WHERE corp_id=#{corpId}) rei ON rei.external_user_id = regcm.member_user_id
      AND rei.corp_id = regcm.corp_id
      AND rei.rn = 1
      WHERE regc.chat_id = #{chatId}
      AND regcm.member_status = 1
      and regc.corp_id=#{corpId}
      <if test="searchValue!=null and searchValue!=''">
          AND (regcm.member_group_nickname LIKE CONCAT('%',#{searchValue},'%') OR regcm.member_name LIKE
          CONCAT('%',#{searchValue},'%'))
      </if>
      GROUP BY regcm.member_user_id
      ORDER BY regcm.member_join_time desc,regcm.member_name
  </select>
</mapper>
