<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.selfapp.app.mapper.StrategyMapper">

    <select id="getStrategyList" parameterType="com.cube.wechat.selfapp.app.domain.Strategy" resultType="java.util.Map">
        SELECT
        a.id,
        a.strategy_title as strategyTitle,
        a.strategy_content as strategyContent,
        a.author,
        CASE
        WHEN TIMESTAMPDIFF(SECOND, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()) &lt; 60 THEN '刚刚'
        WHEN TIMESTAMPDIFF(MINUTE, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()) &lt; 60 THEN CONCAT(TIMESTAMPDIFF(MINUTE, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()), '分钟前')
        WHEN TIMESTAMPDIFF(HOUR, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()) &lt; 24 THEN CONCAT(TIMESTAMPDIFF(HOUR, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()), '小时前')
        WHEN TIMESTAMPDIFF(DAY, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()) &lt; 30 THEN CONCAT(TIMESTAMPDIFF(DAY, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()), '天前')
        WHEN TIMESTAMPDIFF(MONTH, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()) &lt; 12 THEN CONCAT(TIMESTAMPDIFF(MONTH, STR_TO_Date(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()), '个月前')
        ELSE CONCAT(TIMESTAMPDIFF(YEAR, STR_TO_DATE(a.create_time, '%Y-%m-%d %H:%i:%s'), NOW()), '年前')
        END AS  createTime,
        a.tag,
        a.desc,
        a.pic_url as picUrl,
        COALESCE((SELECT COUNT(1) FROM wc_collection_record wcr WHERE wcr.res_id = a.id), 0) AS collectionNum,
        COALESCE((SELECT COUNT(1) FROM wc_user_like wul WHERE wul.com_id = a.id), 0) AS likeNum,
        COALESCE((SELECT COUNT(1) FROM wc_browse_record wbr WHERE wbr.res_id = a.id), 0) AS browseNum,
        COALESCE((SELECT COUNT(1) FROM wc_comment_res wbr WHERE wbr.res_id = a.id), 0) AS comNum
        from wc_strategy a
        <where>
            <if test="strategyTitle != null  and strategyTitle != ''"> and strategy_title like concat('%', #{strategyTitle}, '%')</if>
            <if test="strategyContent != null  and strategyContent != ''"> and strategy_content like concat('%', #{strategyContent}, '%')</if>
            <if test="author != null  and author != ''"> and author like concat('%', #{author}, '%')</if>
        </where>
        group by a.id
    </select>

    <select id="selectWcStrategyList" parameterType="com.cube.wechat.selfapp.app.domain.Strategy" resultType="java.util.Map">
        select
        a.id,
        a.strategy_title as strategyTitle,
        a.strategy_content as strategyContent,
        a.author,
        a.create_time as createTime,
        a.pic_url as picUrl,
        a.tag as tag,
        a.desc,
        COALESCE((SELECT COUNT(1) FROM wc_collection_record wcr WHERE wcr.res_id = a.id), 0) AS collectionNum,
        COALESCE((SELECT COUNT(1) FROM wc_user_like wul WHERE wul.com_id = a.id), 0) AS likeNum,
        COALESCE((SELECT COUNT(1) FROM wc_browse_record wbr WHERE wbr.res_id = a.id), 0) AS browseNum,
        COALESCE((SELECT COUNT(1) FROM wc_comment_res wbr WHERE wbr.res_id = a.id), 0) AS comNum
        from wc_strategy a
        <where>
            <if test="author != null  and author != ''"> and author like concat('%', #{author}, '%')</if>
        </where>
        group by a.id
    </select>

    <select id="selectWcStrategyById" parameterType="String" resultType="java.util.Map">
        select
            a.id,
            a.strategy_title as strategyTitle,
            a.strategy_content as strategyContent,
            a.author,
            a.create_time as createTime,
            a.pic_url as picUrl,
            a.tag as tag,
            a.desc,
            COALESCE((SELECT COUNT(1) FROM wc_collection_record wcr WHERE wcr.res_id = a.id), 0) AS collectionNum,
            COALESCE((SELECT COUNT(1) FROM wc_user_like wul WHERE wul.com_id = a.id), 0) AS likeNum,
            COALESCE((SELECT COUNT(1) FROM wc_browse_record wbr WHERE wbr.res_id = a.id), 0) AS browseNum,
            COALESCE((SELECT COUNT(1) FROM wc_comment_res wbr WHERE wbr.res_id = a.id), 0) AS comNum,
            CASE
                WHEN wcr.id IS NOT NULL THEN 1
                ELSE 0
                END AS isCol,
            CASE
                WHEN wul.id IS NOT NULL THEN 1
                ELSE 0
                END AS isLike
        from wc_strategy a
        left join wc_collection_record wcr on wcr.res_id = a.id
        left join wc_user_like wul on wul.com_id = a.id
        where a.id = #{id} group by a.id
    </select>

    <insert id="insertWcStrategy" parameterType="com.cube.wechat.selfapp.app.domain.Strategy">
        insert into wc_strategy
        (
         id,
         strategy_title,
         strategy_content,
         author,
         create_time,
         pic_url,
         tag,
        `desc`
           )
           values(
          uuid(),
        #{strategyTitle},
               #{strategyContent},
               #{author},
               now(),
               #{picUrl},
               #{tag},
               #{desc}
              )
    </insert>

    <update id="updateWcStrategy" parameterType="com.cube.wechat.selfapp.app.domain.Strategy">
        update wc_strategy
        set strategy_title = #{strategyTitle},
            strategy_content = #{strategyContent},
            author = #{author},
            pic_url = #{picUrl},
            tag = #{tag},
            `desc` = #{desc}
        where id = #{id}
    </update>

</mapper>
