<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.selfapp.app.mapper.SysHostWhitelistMapper">

    <select id="selectActiveByHostId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_host_whitelist WHERE host_id = #{hostId} AND status = 1 LIMIT 1
    </select>
</mapper>
