<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.WeChatCorpRelationshipMapper">
  <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.WeChatCorpRelationship">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="corp_parent_id" jdbcType="VARCHAR" property="corpParentId" />
    <result column="suite_id" jdbcType="VARCHAR" property="suiteId" />
    <result column="agent_id" jdbcType="VARCHAR" property="agentId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap id="WeChatHierarchicalReturnResultResultMap" type="com.cube.wechat.thirdapp.entiy.WeChatHierarchicalReturnResult">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dataType" jdbcType="INTEGER" property="dataType" />
    <result column="parentId" jdbcType="VARCHAR" property="parentId" />
    <result column="corpId" jdbcType="VARCHAR" property="corpId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, corp_id, corp_parent_id, suite_id, agent_id, `status`, create_time
  </sql>
  <select id="selectCorpByCorpId" parameterType="com.cube.wechat.thirdapp.entiy.WeChatCorpRelationship" resultMap="BaseResultMap">
    SELECT *FROM qywx_corp_relationship WHERE suite_id=#{suiteId} and corp_id=#{corpId} and corp_parent_id=#{corpParentId}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qywx_corp_relationship
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="updateCorpRelatioshipStatusByCorpParentId" parameterType="com.cube.wechat.thirdapp.entiy.WeChatCorpRelationship">
    UPDATE qywx_corp_relationship SET    `status`=#{status} WHERE suite_id=#{suiteId} and corp_parent_id=#{corpParentId}
  </delete>
  <select id="selectCorpRelationshipByParentCorpId" parameterType="java.util.Map" resultMap="WeChatHierarchicalReturnResultResultMap">
    SELECT
      qtc.corp_id as id,
      qtc.corp_name as `name`,
      '0' as dataType,
      qcr.corp_parent_id as parentId,
      qcr.corp_id as corpId
    FROM
      qywx_corp_relationship  qcr
        INNER JOIN qywx_third_company qtc on qtc.corp_id=qcr.corp_id
    WHERE
      qcr.corp_parent_id =#{parentId}
      AND qtc.suite_id=#{suiteId}
      AND qcr.`status` = 1
      AND qtc.`status`=1
    ORDER BY
      qcr.create_time DESC,corp_name
  </select>
  <select id="selectCorpDownstreamCorpByParentId" parameterType="java.util.Map" resultMap="WeChatHierarchicalReturnResultResultMap">
    SELECT *
    FROM (SELECT qtc.corp_id        AS id,
                 qtc.corp_name      AS `name`,
                 '0'                AS dataType,
                 qcr.corp_parent_id AS parentId,
                 qcr.corp_id        AS corpId
          FROM qywx_corp_relationship qcr
                 INNER JOIN qywx_third_company qtc ON qtc.corp_id = qcr.corp_id
          WHERE qcr.corp_parent_id = #{parentId}
            AND qtc.suite_id = #{suiteId}
            AND qcr.`status` = 1
            AND qtc.`status` = 1
          UNION ALL
          SELECT qtc.corp_id   AS id,
                 qtc.corp_name AS `name`,
                 '0'           AS dataType,
                 '0'           AS parentId,
                 qtc.corp_id   AS corpId
          FROM qywx_third_company qtc
          WHERE qtc.corp_id = #{parentId}
            AND qtc.suite_id = #{suiteId}
            AND qtc.`status` = 1) s
    GROUP BY id
    ORDER BY parentId asc, name
  </select>
  <select id="selectNewCorpRelationshipByParentCorpId" resultMap="BaseResultMap">
    SELECT
      qtc.corp_id as id,
      qtc.corp_name as `name`,
      '0' as dataType,
      qcr.corp_parent_id as parentId,
      qcr.corp_id as corpId
    FROM
      qywx_corp_relationship  qcr
        INNER JOIN qywx_third_company qtc on qtc.corp_id=qcr.corp_id
    WHERE
      qcr.corp_parent_id =#{parentId}
      AND qtc.suite_id=#{suiteId}
      AND qcr.`status` = 1
      AND qtc.`status`=1
      AND qcr.create_time = CURDATE()
    ORDER BY
      qcr.create_time DESC,corp_name
  </select>
  <delete id="updateCorpRelatioshipStatus" parameterType="com.cube.wechat.thirdapp.entiy.WeChatCorpRelationship">
    UPDATE qywx_corp_relationship SET    `status`=#{status} WHERE suite_id=#{suiteId} and corp_id=#{corpId} and corp_parent_id=#{corpParentId}
  </delete>
  <delete id="updateCorpRelatioshipStatusByCorpId" parameterType="com.cube.wechat.thirdapp.entiy.WeChatCorpRelationship">
    UPDATE qywx_corp_relationship SET    `status`=#{status} WHERE suite_id=#{suiteId} and corp_id=#{corpId}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from qywx_corp_relationship
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.WeChatCorpRelationship">
    insert into qywx_corp_relationship
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="corpParentId != null">
        corp_parent_id,
      </if>
      <if test="suiteId != null">
        suite_id,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="corpParentId != null">
        #{corpParentId,jdbcType=VARCHAR},
      </if>
      <if test="suiteId != null">
        #{suiteId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.WeChatCorpRelationship">
    update qywx_corp_relationship
    <set>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="corpParentId != null">
        corp_parent_id = #{corpParentId,jdbcType=VARCHAR},
      </if>
      <if test="suiteId != null">
        suite_id = #{suiteId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
