<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.wechat.thirdapp.mapper.WeChatThirdUserMapper">
  <resultMap id="BaseResultMap" type="com.cube.wechat.thirdapp.entiy.WeChatThirdUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="suite_id" jdbcType="VARCHAR" property="suiteId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="email" jdbcType="CHAR" property="email" />
    <result column="is_leader_in_dept" jdbcType="CHAR" property="isLeaderInDept" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="thumb_avatar" jdbcType="VARCHAR" property="thumbAvatar" />
    <result column="telephone" jdbcType="CHAR" property="telephone" />
    <result column="alias" jdbcType="CHAR" property="alias" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="open_userid" jdbcType="VARCHAR" property="openUserid" />
    <result column="main_department" jdbcType="INTEGER" property="mainDepartment" />
    <result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
    <result column="rectime" jdbcType="TIMESTAMP" property="rectime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, corp_id, user_id,suite_id, `name`, parentid, `position`, gender, email, is_leader_in_dept,
    avatar, thumb_avatar, telephone, `alias`, address, open_userid, main_department,
    qr_code, `status`, addtime, modtime, rectime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qywx_third_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCorpIdAndAppId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qywx_third_user
    where  corp_id = #{corpId}
    AND status=1
    AND suite_id=#{suiteId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from qywx_third_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCorpIdAndAppId" parameterType="java.lang.String">
    update qywx_third_user set status=0,modtime=now(),rectime=now()
    where corp_id = #{corpId}  AND suite_id=#{suiteId}
  </delete>
  <insert id="insertSelective" parameterType="com.cube.wechat.thirdapp.entiy.WeChatThirdUser">
      insert into qywx_third_user
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
              id,
          </if>
          <if test="corpId != null">
              corp_id,
          </if>
          <if test="userId != null">
              user_id,
          </if>
          <if test="suiteId != null">
              suite_id,
          </if>
          <if test="name != null">
              `name`,
          </if>
          <if test="parentid != null">
              parentid,
          </if>
          <if test="position != null">
              `position`,
          </if>
          <if test="gender != null">
              gender,
          </if>
          <if test="email != null">
              email,
          </if>
          <if test="isLeaderInDept != null">
              is_leader_in_dept,
          </if>
          <if test="avatar != null">
              avatar,
          </if>
          <if test="thumbAvatar != null">
              thumb_avatar,
          </if>
          <if test="telephone != null">
              telephone,
          </if>
          <if test="alias != null">
              `alias`,
          </if>
          <if test="address != null">
              address,
          </if>
          <if test="openUserid != null">
              open_userid,
          </if>
          <if test="mainDepartment != null">
              main_department,
          </if>
          <if test="qrCode != null">
              qr_code,
          </if>
          <if test="status != null">
              `status`,
          </if>
          <if test="addtime != null">
              addtime,
          </if>
          <if test="modtime != null">
              modtime,
          </if>
          <if test="rectime != null">
              rectime,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
              #{id,jdbcType=VARCHAR},
          </if>
          <if test="corpId != null">
              #{corpId,jdbcType=VARCHAR},
          </if>
          <if test="userId != null">
              #{userId,jdbcType=VARCHAR},
          </if>
          <if test="suiteId != null">
              #{suiteId},
          </if>
          <if test="name != null">
              #{name,jdbcType=VARCHAR},
          </if>
          <if test="parentid != null">
              #{parentid,jdbcType=INTEGER},
          </if>
          <if test="position != null">
              #{position,jdbcType=VARCHAR},
          </if>
          <if test="gender != null">
              #{gender,jdbcType=CHAR},
          </if>
          <if test="email != null">
              #{email,jdbcType=CHAR},
          </if>
          <if test="isLeaderInDept != null">
              #{isLeaderInDept,jdbcType=CHAR},
          </if>
          <if test="avatar != null">
              #{avatar,jdbcType=VARCHAR},
          </if>
          <if test="thumbAvatar != null">
              #{thumbAvatar,jdbcType=VARCHAR},
          </if>
          <if test="telephone != null">
              #{telephone,jdbcType=CHAR},
          </if>
          <if test="alias != null">
              #{alias,jdbcType=CHAR},
          </if>
          <if test="address != null">
              #{address,jdbcType=VARCHAR},
          </if>
          <if test="openUserid != null">
              #{openUserid,jdbcType=VARCHAR},
          </if>
          <if test="mainDepartment != null">
              #{mainDepartment,jdbcType=INTEGER},
          </if>
          <if test="qrCode != null">
              #{qrCode,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
              #{status,jdbcType=INTEGER},
          </if>
          <if test="addtime != null">
              #{addtime,jdbcType=TIMESTAMP},
          </if>
          <if test="modtime != null">
              #{modtime,jdbcType=TIMESTAMP},
          </if>
          <if test="rectime != null">
              #{rectime,jdbcType=TIMESTAMP},
          </if>
      </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cube.wechat.thirdapp.entiy.WeChatThirdUser">
    update qywx_third_user
    <set>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
        <if test="suiteId != null">
            suite_id=#{suiteId},
        </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=CHAR},
      </if>
      <if test="isLeaderInDept != null">
        is_leader_in_dept = #{isLeaderInDept,jdbcType=CHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="thumbAvatar != null">
        thumb_avatar = #{thumbAvatar,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=CHAR},
      </if>
      <if test="alias != null">
        `alias` = #{alias,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="openUserid != null">
        open_userid = #{openUserid,jdbcType=VARCHAR},
      </if>
      <if test="mainDepartment != null">
        main_department = #{mainDepartment,jdbcType=INTEGER},
      </if>
      <if test="qrCode != null">
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rectime != null">
        rectime = #{rectime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
